@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');

body {
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

p {
    font-family: Poppins, sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
}

header div {
    text-align: center;
    display: inline;
}

.logo {
    font-size: 3.5em;
    display: inline-block;
}

.logo-text {
    display: inline-block;
    text-align: left;
}

.logo-text-staying-healthy {
    font-size: 1.8em;
    color: #DC5454;
}

.logo-text-undertext {
    margin-top: -38px;
    margin-left: 15px;
}
