@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:#4a4a4a;
}

p {
    font-family: Poppins, sans-serif;
    font-size: 13px;
}

h3 {
    font-size: 20px;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
}

.space {
    padding-top: 2%;
}

a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color: #DC5454;
}

a:hover {
    color: #4a4a4a;
}

/* --- Header --- */

header {
    margin: 0 auto;
    text-align: center;
}

header div {
    text-align: center;
    display: inline;
}

/* --- Logo --- */

.logo {
    font-size: 50px;
    display: inline-block;

}

.logo-text {
    display: inline-block;
    text-align: left;
}

.logo-text-staying-healthy {
    font-size: 24px;
    color: #DC5454;
    margin-bottom: -5px;
}

.logo-text-undertext {
    margin-left: 5%;
    font-size: 14px;
    width: 100%;

}

/* --- Navigation --- */

nav {
    width: 100%;
    font-family: Oswald, sans-serif;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 2%;
}

nav a{
    color: #4a4a4a;
    text-decoration: none;
}

.active, nav a:hover {
    color: #DC5454;
}

/* --- Content --- */

section {
    margin: 0 auto;
    width: 50%;
    position: relative;
}

section div {
    width: 100%;
    margin: 0 auto;
}

section li {
    font-family: Poppins, sans-serif;
    margin-left: 5%;
    font-size: 13px;
}

section span {
    color: #DC5454;
}

.circle-image {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 5em;
    border: 12px solid rgba(74, 74, 74, .5);
}

.circle-text {
    float: left;
    width: 60%;
    margin-left: 2%;
    margin-top: 2%;
}

.clear {
    clear: both;
    padding-top: 2%;
}

.circle-push-right {
    margin-left: 10%;
}

.read-more {
    clear: both; 
    width: 60%;
    padding-top: 5%;
    text-align: center;
}

.read-more p {
    font-style: italic;
}


/* --- Footer --- */

footer {
    background-color: #4a4a4a;
    color: white;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    position: static;
    height: 250px;
    bottom: 0;
}

footer h4 {
    font-family: Poppins, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 300;
}

footer li {
    list-style: none;
    text-align: left;
    font-size: 13px;
}

.left {
    width: 33%;
    float: left;
    text-align: left;
    padding-left: 1%;
    padding-top: 3%;
}

.middle {
    width: 33%;
    float: left;
    text-align: center;
}

.right {
    width: 33%;
    float: left;
    text-align: right;
    padding-top: 3%;
}

.right li {
    text-align: right;
}
