@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');

body {
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

p {
    font-family: Poppins, sans-serif;
}

/* --- Header --- */

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header div {
    text-align: center;
    display: inline;
}

/* --- Logo --- */

.logo {
    font-size: 3.5em;
    display: inline-block;
}

.logo-text {
    display: inline-block;
    text-align: left;
}

.logo-text-staying-healthy {
    font-size: 1.8em;
    color: #DC5454;
}

.logo-text-undertext {
    margin-top: -38px;
    margin-left: 15px;
}

/* --- Navigation --- */

nav {
    width: 100%;
    margin-top: -1em;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 2%;
    font-size: 1.5em;
}

nav a{
    color: #4a4a4a;
    text-decoration: none;
}

.active, nav a:hover {
    color: #DC5454;
}

/* --- Content --- */

section {
    width: 100%;
    position: relative;
    margin-top: -1em;
}

section div {
    width: 40em;
    margin: 0 auto;
}

section h3 {
    font-size: 1.5em;
}

section p {
    margin-top: -1em;
}

section li {
    font-family: Poppins, sans-serif;
}