@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');

body {
    font-family: Oswald, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family: Poppins, sans-serif;
}

header {
    width: 100%;
    height: 150px;
}

.logo {
    text-align: center;
    font-size: 400%;
}

.logo h1 {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: black;
}



.navigation {
    background-color: blue;
    width: 100%;
    height: 75px;
}

.content {
    background-color: green;
    width: 100%;
    height: 400px;
}

footer {
    width: 100%;
    height: 250px;
    font-size: 400%;
    bottom: 0;
    position: absolute;
    text-align: center;
}

