@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color:#4a4a4a;
}

p {
    font-family: Poppins, sans-serif;
    font-size: 13px;
}

h3 {
    font-size: 20px;
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
}

/* Added style elements */

important {
    font-style: italic;
}

.space {
    padding-top: 2%;
}

.clear {
    clear: both;
    padding-top: 2%;
}

.push-right {
    margin-left: 10%;
}

/* --- Links --- */

a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    color: #DC5454;
}

a:hover {
    color: #4a4a4a;
}

/* --- Header --- */

header {
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
}

header div {
    text-align: center;
    display: inline;
}

/* --- Logo --- */

.logo {
    font-size: 50px;
    display: inline-block;
}

.logo-text {
    display: inline-block;
    text-align: left;
    
}

.logo-text-staying-healthy {
    font-size: 24px;
    color: #DC5454;
    margin-bottom: -5px;
}

.logo-text-undertext {
    margin-left: 5%;
    font-size: 14px;
    width: 100%;
}

/* --- Navigation --- */

nav {
    width: 100%;
    font-family: Oswald, sans-serif;
    padding-top: 1%;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 2%;
}

nav a{
    color: #4a4a4a;
    text-decoration: none;
}

.active, nav a:hover {
    color: #DC5454;
}

/* --- Content --- */

section {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

section div {
    width: 100%;
    margin: 0 auto;
}

section li {
    font-family: Poppins, sans-serif;
    margin-left: 5%;
    font-size: 13px;
    text-align: left;
}

section span {
    color: #DC5454;
}

.main-text {
    width: 90%;
    text-align: center;
    padding-top: 2%;
}

.main-text p {
    text-align: left;
}

/* Images and text content (index.html and stretches.html) */

.circle-image {
    float: left;
    width: 150px;
    height: 150px;
    outline: 12px solid rgba(74, 74, 74, .5);
    outline-offset: -12px;
    border-radius: 50%;
    object-fit: cover;
    animation-name: outline;
    animation-duration: 3s;
}

.circle-text {
    float: left;
    width: 60%;
    margin-left: 2%;
    margin-top: 2%;
}

.square-image {
    float: left;
    width: 250px;
    height: 150px;
    border-radius: 40px;
    outline: 12px solid rgba(74, 74, 74, .5);
    outline-offset: -12px;
    object-fit: cover;
    animation-name: outline;
    animation-duration: 3s;
}

.square-text {
    float: left;
    width: 50%;
    margin-left: 2%;
}

/* Contact content */

.contact-main-text {
    width: 40%;
    margin: 0 auto;
}

.contact-left {
    width: 50%;
    float: left;
    height: 40vh;
    padding-right: 1.5%;
}

.contact-left h3 {
    text-align: left;
}

.contact-left li {
    list-style: none;
    margin-left: 0;
}

.contact-map {
    float: left;
    width: 100%;
    height: 57.5%;
    margin-top: 2%;
}

iframe {
    border-radius: 40px;
    outline: 12px solid rgba(74, 74, 74, .5);
    outline-offset: -12px;
    animation-name: outline, opacity;
    animation-duration: 3s;
}

.contact-right {
    width: 50%;
    float: left;
    padding-left: 1.5%;
}

/* w3c school tutorial - modified to my specs */

form {
    font-family: Poppins, sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=email] {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form div {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 2%;
}

input[type=submit] {
    width: 47.5%;
    background-color: #478d49;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: grab;
    float: left;
    margin-right: 5%;
}

input[type=reset] {
    width: 47.5%;
    background-color: #DC5454;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=reset]:hover {
    background-color: #4a4a4a;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

/* End tutorial */

textarea {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 150px;
    max-width: 350px;
}

fieldset {
    border: 0;
}

video {
    width: 100%;
    border-radius: 25px;
    margin-top: 4%;
    animation: video 2s;
}

@keyframes video {
    from {
    transform: scaleY(0);
    opacity: 0;
    }

    to {
    transform: scaleY(100%);
    opacity: 1;
     }
}

@keyframes outline {
    from {
        outline: 12px solid rgba(74, 74, 74, .0);
    }

    to {
        outline: 12px solid rgba(74, 74, 74, .5);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Read more content */

.read-more {
    clear: both; 
    width: 60%;
    padding-top: 5%;
    text-align: center;
}

.read-more p {
    font-style: italic;
}


/* --- Footer --- */

footer {
    background-color: #4a4a4a;
    color: white;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    position: static;
    bottom: 0;
    border-radius: 50px 50px 0 0;
    height: 30vh;
}

footer h4 {
    font-family: Poppins, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 300;
}

footer li {
    list-style: none;
    text-align: left;
    font-size: 13px;
    margin-left: 0;
}

.left {
    width: 33%;
    float: left;
    text-align: left;
    padding: 5% 5% 0 5%;
}

.middle {
    width: 33%;
    float: left;
    text-align: center;
    padding-top: 2%
}

.right {
    width: 33%;
    float: left;
    text-align: right;
    padding: 5% 4% 0 5%;
}

.right li {
    text-align: right;
}

.social-icons {
    font-size: 40px;
    letter-spacing: 5px;
}

.social-icons a {
    color: white;
}

.social-icons a:hover {
    color: #DC5454;
}






/* Credit code (https://google-map-generator.com/) */

.mapouter {
    position:relative;
    text-align:right;
    height:100%;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}