@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
}

p {
    font-family: Poppins, sans-serif;
}

h3 {
    font-size: 1.5em;
    font-family: Oswald, sans-serif;
}

.space {
    padding-top: 2%;
}

/* --- Header --- */

header {
    margin: 0 auto;
    text-align: center;
}

header div {
    text-align: center;
    display: inline;
}

/* --- Logo --- */

.logo {
    font-size: 50px;
    display: inline-block;
}

.logo-text {
    display: inline-block;
    text-align: left;
}

.logo-text-staying-healthy {
    font-size: 24px;
    color: #DC5454;
}

.logo-text-undertext {
    margin-left: 5%;
}

/* --- Navigation --- */

nav {
    width: 100%;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 2%;
    
}

nav a{
    color: #4a4a4a;
    text-decoration: none;
}

.active, nav a:hover {
    color: #DC5454;
}

/* --- Content --- */

section {
    margin: 0 auto;
    width: 50%;
    position: relative;
}

section div {
    width: 100%;
    margin: 0 auto;
}

section li {
    font-family: Poppins, sans-serif;
    margin-left: 5%;
}

section span {
    color: #DC5454;
}

.circle-image {
    float: left;
    width: 125px;
    height: 125px;
    border-radius: 5em;
    background-color: red;
}

.circle-text {
    float: left;
    height: 150px;  
    width: 60%;
    margin-left: 2%;
}

.clear {
    clear: both;
    padding-top: 5%;
}

.circle-push-right {
    margin-left: 10%;
}
